.btn__darkMode {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    margin: 0 20px;
}
.btn__darkMode_circle {
    position: absolute;
    left: 7px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: left 0.3s ease-out;
}

.btn__darkMode_circle-active {
    left: 45px;
}

.btn__darkMode_oval {
    width: 80px;
    height: 40px;
    border-radius: 25px;
    background-color: transparent;
    border: 3px solid var(--primary);
}