@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --linear: linear-gradient(180deg, rgba(74,107,225,1) 0%, rgba(225,74,101,1) 100%);
  --primary: #5671A6;
  --nav-border: #6D8093;
  --textOpacity: rgba(46, 46, 46, 0.7);
  --lightBgColor: rgba(243,243,243,0.5);
}

#darkMode{
  --darkBgColor: rgba(77, 80, 94, 0.5);
}

html, body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: var(--linear);
  z-index: 0;
}

#root {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(243,243,243,0.2);
  z-index: 1;
  margin: 0 auto;

  .root__roseBg{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .root__greenBg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .root__purpleBg{
    position: absolute;
    bottom: 0;
    right: 35%;
    z-index: -1;
  }
}

.bgImg{
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 85%;
  margin: 70px auto;
  background-image: url("../img/bgImg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.56) 10px 22px 70px 10px;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--lightBgColor);
  border-radius: 10px;
}

.darkMode{
  background-color: rgba(77, 80, 94, 0.5);
}

.container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}